extends ../layout/index

block contenido 
    body.bg-gray-500
        div.pb-3.text-gray-900
            h1.text-5xl.my-5.font-normal.mb-5 Hanner
                span.font-bold Raíces
            h2.text-center.text-2xl.text-gray-800.font-bold.my-5= pagina 

            p.text-xl.font-normal.text-center.m-10.text-gray-700= mensaje
